<div class="row editor-top">
  <div class="col-md-12">
    <input #postTitle type="text" class="form-control" [(ngModel)]="title" disabled>
    <button class="btn btn-primary float-right publish-btn" (click)="confirmModal.show()">
      发布
    </button>
  </div>
</div>
<div class="post-containers">
  <div class="post-container">
    <textarea #postContent class="form-control sourceCnt" [(ngModel)]="sourceCnt" (ngModelChange)="updateView()">
    </textarea>
  </div>
  <div class="post-container">
    <div class="wordcount">
      {{renderedCnt|wordcount}}字
    </div>
    <div [innerHtml]="renderedCnt|safe" class="rendered rendered-post">

    </div>
  </div>
</div>
<div class="modal fade" bsModal #confirmModal="bs-modal" [config]="{backdrop:'static'}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>确定要发布?</p>
        <button type="button" class="btn btn-primary" (click)="publish()">确定</button>
        <button type="button" class="btn btn-secondary" (click)="confirmModal.hide()">取消</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" bsModal #successModal="bs-modal" [config]="{backdrop:'static'}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>发布成功!</p>
        <a class="btn btn-primary" href="https://1991421.cn" target="_blank">去看看</a>
        <button type="button" class="btn btn-secondary" (click)="confirm()">确定</button>
      </div>
    </div>
  </div>
</div>
