.sourceCnt {
  resize: none;
}

.sourceCnt, .rendered {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 0.6em;
}

.editor-top {
  border-bottom: 3px solid #2f6f9f;
  padding: 5px;
}

.editor-top input {
  border: none;
}

.editor-top input:focus {
  box-shadow: none;
}

.publish-btn {
  position: absolute;
  top: 0;
  right: 15px;
}

.post-containers {
  height: calc(100vh - 113px);
  display: flex;
}

.post-container {
  flex-basis: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}
