language: node_js
node_js: 8
addons:
  ssh_known_hosts:
  - 132.232.104.101
before_install:
- openssl aes-256-cbc -K $encrypted_6fc3eccd8200_key -iv $encrypted_6fc3eccd8200_iv -in travis.enc -out travis -d
install:
- cd backend
- npm install
- cd ..
- cd frontend
- npm install
- cd ..
script:
- cd frontend
- npm run build
- cd ..
- cd backend
- npm run build
- cd ..
after_script:
- cd ./frontend/dist/blog-admin
- rsync -az -vv --delete -e 'ssh -p 22' ./** root@132.232.104.101:/var/www/blog-admin-test/dist
- cd ..
- cd ./backend/dist
- rsync -az -vv --delete -e 'ssh -p 22' ./** root@132.232.104.101:/var/www/blog-admin-test
branches:
  only:
  - master
notifications:
  email:
  - i@alanhe.me
