language: node_js
node_js: 8
addons:
  ssh_known_hosts:
    - 132.232.104.101
before_install:
  - openssl aes-256-cbc -K $encrypted_b86c2ca78306_key -iv $encrypted_b86c2ca78306_iv -in .travis/travis.enc -out ~/.ssh/id_rsa -d
  - chmod 600 ~/.ssh/id_rsa
install:
  - cd backend
  - npm install
  - cd ..
  - cd frontend
  - npm install
  - cd ..
script:
  - cd frontend
  - npm run build
  - cd ..
  - cd backend
  - npm run build
  - cd ..
after_script:
  - cd ./frontend/dist/blog-admin
  - rsync -az -vv --delete -e 'ssh -p 22' ./** root@132.232.104.101:/var/www/blog-admin/dist
  - cd ../../..
  - cd ./backend/dist
  - rsync -az -vv --delete -e 'ssh -p 22' ./** root@132.232.104.101:/var/www/blog-admin
  - cd ../..
  - rsync -az -vv --delete -e 'ssh -p 22' backend/package-lock.json root@132.232.104.101:/var/www/blog-admin
  - npm install --production
  - pm2 restart blog-admin
branches:
  only:
    - master
notifications:
  email:
    - i@alanhe.me
