
.app-sidebar {
  border-right: 1px solid rgba(0, 0, 0, .1);
  background-color: #f7faff;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 1rem;
}

.app-post-display {
  display: flex;
  flex: 1;
}

main {
  height: calc(100vh - 64px);
  position: relative;
}

div > .post-message {
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background-color: #dfebff;
  position: absolute;
  text-align: center;
  color: #000000;
  opacity: .9;
}

#posts-list {
  background-color: #f7faff;
  flex: 1;
  overflow: auto;
  font-size: 1.1rem;
  margin-right: -10px;
}

#posts-list li {
  padding: 15px 0;
  position: relative;
}

#posts-list li:hover {
  cursor: pointer;
  background-color: #ecf3ff;
}

#posts-list li i {
  display: none;
}

#posts-list li i {
  margin: 5px;
  position: relative;
  top: -5px
}

#posts-list li:hover i {
  display: inline-block;
}

.post-search {
  padding: 0 15px 1rem;
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.post-selected {
  background-color: #dfebff;
}

.search-tip {
  position: absolute;
  top: 7px;
}

.search-tip.input-clear {
  display: none;
  cursor: pointer;
  right: 30px;
  font-size: 1.2rem;
}

.search-tip.post-sum-info {
  color: #A9A9A9;
  right: 60px;
}

.search:valid + .input-clear {
  display: inline;
}

.post-date {
  position: absolute;
  font-size: .8rem;
  right: 0;
  bottom: 0.2rem;
}

.rendered-post {
  overflow-y: auto;
  flex: 1;
}

.post-input input {
  width: 80%;
  float: left;
}
