<main class="container-fluid">
  <div class="row">
    <div class="col-md-3 app-sidebar">
      <ng-container *ngIf="createStatus==false">
        <div class="post-search">
          <input type="search" class="form-control search" required (keyup)="queryField$.next($event.target.value)"
                 [value]="queryField">
          <a class="fa fa-times input-clear search-tip" (click)="clearQueryField()"></a>
          <span class="search-tip post-sum-info">
          共{{posts.length}}篇
        </span>
        </div>
      </ng-container>

      <div *ngIf="createStatus==false;else elseBlock">
        <button type="button" class="btn btn-outline-primary" (click)="createStatus=true">新建博客</button>
      </div>
      <ng-template #elseBlock>
        <div class="form-group post-input">
          <input type="text" class="form-control" #fileName (keypress)="fileNameInputKeyPress($event)"/>
          <div class="input-group-append">
            <i class="fa fa-2x  fa-check operator-icon" (click)="createPost(fileName.value)"></i>
            <i class="fa fa-2x fa-close operator-icon" (click)="createStatus=false"></i>
          </div>
        </div>
      </ng-template>
      <ul id="posts-list" class="list-unstyled">
        <li *ngFor="let item of posts;let i=index" (click)="postClick($event,item.title,i)"
            [ngClass]="{'post-selected':selectedPost===item.title}">
          <span title="{{item.title}}">
            {{item.title}}
          </span>
          <span class="post-date">
            {{item.createTime|date:"MM/dd/yy" }}
          </span>
          <i class="fa fa-trash float-right" title="删除">
          </i>
          <i class="fa fa-edit float-right" title="编辑">
          </i>
        </li>
      </ul>
    </div>
    <div class="col-md-9 app-post-display">
      <div class="post-message">
        草稿
      </div>
      <div id="post-content" [innerHtml]="postHtml" class="rendered-post">
      </div>
    </div>
  </div>
</main>
<div class="modal fade" bsModal #confirmModal="bs-modal" [config]="{backdrop:'static'}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <p>确定要删除?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="confirm()">确定</button>
        <button type="button" class="btn btn-primary" (click)="confirmModal.hide()">取消</button>
      </div>
    </div>
  </div>
</div>
