
.app-sidebar {
  border-right: 1px solid rgba(0, 0, 0, .1);
  background-color: #f7faff;
}

main {
  min-height: 80vh;
}

#posts-list {
  background-color: #f7faff;
  height: 100vh;
  overflow-y: auto;
}

#posts-list li {
  padding: 5px 0;
}

#posts-list li:hover {
  cursor: pointer;
  background-color: #ecf3ff;
}

#posts-list li i {
  display: none;
}

#posts-list li i {
  margin: 5px;
}

#posts-list li:hover i {
  display: inline-block;
}

.post-search {
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.post-selected {
  background-color: #dfebff;
}

.input-clear {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 26px;
  right: 30px;
  font-size: 1.2rem;
}

.search:valid + .input-clear {
  display: inline;
}
