header {
  background-color: #0d1626;
  padding: 10px 0;
}

header ul li a {
  color: white;
}

.app-navbar {
  min-height: 4rem;
  background-color: #563d7c;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.app-navbar .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #cbbde2;
}

.app-sidebar {
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.app-navbar.navbar-nav .nav-link.active, .app-navbar.navbar-nav .nav-link:hover {
  color: #fff;
  background-color: transparent;
}

main {
  min-height: 80vh;
}

#posts-list {
  background-color: #f7faff;
}

#posts-list li {
  padding: 5px 0;
}

#posts-list li:hover {
  cursor: pointer;
  background-color: #ecf3ff;
}

#posts-list li i {
  display: none;
}

#posts-list li:hover i {
  display: inline-block;
}

.post-search {
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}
