<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 app-sidebar">
      <div class="post-search">
        <input type="search" class="form-control" placeholder="搜索文章，共{{posts.length}}篇" (keyup)="queryField$.next($event.target.value)">
      </div>
      <div *ngIf="createStatus==false;else elseBlock">
        <button type="button" class="btn btn-outline-primary" (click)="createStatus=true">新建博客</button>
      </div>
      <ng-template #elseBlock>
        <div class="input-group">
          <input type="text" class="form-control" #fileName/>
          <div class="input-group-append">
            <i class="fa fa-2x  fa-check" (click)="createPost(fileName.value)"></i>
            <i class="fa fa-2x fa-close" (click)="createStatus=false"></i>
          </div>
        </div>
      </ng-template>
      <ul id="posts-list" class="list-unstyled">
        <li *ngFor="let item of posts;let i=index" (click)="postClick(item)">
        <span>
          {{item}}
        </span>
          <i class="fa fa-trash float-right" title="删除" (click)="postDelete(item,i)">
          </i>
          <i class="fa fa-edit float-right" title="编辑" (click)="postEdit(item)">
          </i>
        </li>
      </ul>
    </div>
    <main class="col-md-9">
      <div id="post-content" [innerHtml]="postHtml">
      </div>
    </main>
  </div>
</div>
