/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

html, body {
  height: 100%;
}

header {
  background-color: #0d1626;
  padding: 10px 0;
}

header ul li a {
  color: white;
  cursor: pointer;
}

.app-navbar {
  min-height: 4rem;
  background-color: #563d7c;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.app-navbar .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #cbbde2;
}

.navbar-nav .nav-link:hover {
  color: #fff;
  background-color: transparent;
}

mark, .mark {
  background-color: #f0ad4e;
  padding: .2em;
}

.rendered-post {

}

.rendered-post blockquote {
  border-left: 4px solid #39aa56;
  margin: 0;
  padding: 0 15px;
  color: #666;
}

.rendered-post img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.progress {
  position: absolute;
  top: 0;
  right: 0;
  opacity: .6;
  height: .5rem;
}

.wordcount {
  position: absolute;
  right: 20px;
  color: gray;
}
